@import './base.css';

#app {
  max-width: 1080px;
  margin: 0 auto;
  padding: 1.25rem;
  font-weight: normal;
}

a,
.green {
  text-decoration: none;
  color: var(--brand);
  transition: color 0.2s ease;
}

@media (hover: hover) {
  a:hover {
    color: var(--brand-strong);
  }
}

@media (min-width: 1024px) {
  #app {
    padding: 2rem 2.25rem;
  }
}
